.song__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;
    gap: 20px;

    height: 100%;

    padding-top: 30px;
    max-width: 500px;
    margin: 0 auto;
}

.song__search__input {
    display: block;
    width: 100%;
    border-radius: 120px;
    height: 50px;
    padding: 0 20px;
}

.song__search__input:focus {
    outline: none;
}

.song__search__sort {
    border-radius: 120px;
}

.song__search__button {
    outline: none;
    border: none;
    background-color: #b6651a;
    padding: 8px 20px;
    border-radius: 20px;
    transition: background-color 300ms;
    color: #fff;
    width: 120px;
}

.song__search__button:hover {
    background-color: #e1a771;
}
